page-lista-de-produtos {

    .back-button-md {
        display: none !important;
    }

    .item-md {
        padding-left: 0 !important;
    }

     .item-md ion-thumbnail {
        min-width: 40px !important;
        min-height: 40px !important;
    }

    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 40px;
        height: 40px;
    }

    .label-md {
        font-size: 1.2rem;
        margin: 20px 8px 20px 0;
    }

}
