page-lista-de-compras {
    
    .style-fab-button {
        width: 48px;
        height: 48px;
    }

    .qtd {
        font-size: 5rem;
        font-weight: 500;
    }

    .unidade {
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .abrir-lista {
        color: map-get($colors, primary);
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: lowercase;
    }

    ion-card-header {
        padding-right: 5px !important;
    }

    .estoquista {
        background: map-get($colors, primary);
        font-size: 1.3rem;
        text-align: center;
        text-transform: capitalize;
        border-radius: 20px;
        font-weight: 800 !important;
    }

    .novo-estoque {
        text-align: center;
        margin: auto;
        display: block;
    }

}
