<ion-header>
  <ion-navbar>

    <ion-buttons left>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Lista de Compras
    </ion-title>

  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="escolha">
      <ion-segment-button value="a-fazer">
        A Fazer
      </ion-segment-button>
      <ion-segment-button value="feitas">
        Feitas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="escolha">

    <ion-list no-border *ngSwitchCase="'a-fazer'" no-lines>
      <ion-card *ngFor="let lista of listas_fazer" (click)="abrirLista(lista)">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col col-9>
                <div class="descricao">{{lista.descricao}}</div>
              </ion-col>
              <ion-col col-3 class="data-lista" text-wrap>
                <span>{{lista.data | date: 'dd/MM/yy'}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-header>

        <ion-card-content>
          <ion-col class="conteudo">
            <span *ngFor="let produto of lista.produtos" class="produtos">{{produto.nome_produto}}, </span>
          </ion-col>
        </ion-card-content>

        <!--<ion-row class="cardfooter">
           <ion-col>
            <span *ngFor="let produto of lista.produtos" class="produtos">{{produto.nome_produto}}, </span>
          </ion-col> 
          <ion-col col-2>
             <img src="../assets/imgs/edit.svg" style="width: auto; float: right;" (click)="editarLista(lista)">
          </ion-col>
        </ion-row> -->
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'feitas'" no-lines>
      <ion-card *ngFor="let lista of listas_finalizadas" (click)="abrirLista(lista)">

        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col col-9>
                <div class="descricao finalizado">{{lista.descricao}}</div>
              </ion-col>
              <ion-col col-3 class="data-lista finalizado" text-wrap>
                <span>{{lista.data | date: 'dd/MM/yy'}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content>
          <ion-col class="conteudo">
            <span *ngFor="let produto of lista.produtos" class="produtos finalizado">{{produto.nome_produto}}, </span>
          </ion-col>
        </ion-card-content>

      </ion-card>
    </ion-list>

  </div>

  <div style="margin-bottom: 60px;"></div>

  <!-- <img src="../assets/imgs/add.svg" style="padding: 30px 0;" class="novo-estoque" (click)="addLista()"> -->

  <ion-fab bottom right>
    <button ion-fab clear (click)="addLista()" class="style-fab-button">
      <ion-icon color="dark" name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>