page-detalhe-lista {

        //alinhando todos os elementos da linha no topo
        // .item-block {
        //     align-items: baseline;
        // }
    
        // .item-md {
        //     padding: 10px 5px;
        // }
    
        // .toolbar-title-md {
        //     text-align: left;
        //     margin-left: 12vh;
        // }

        .item.item-md .checkbox-md {
            margin: 10px;
            margin-left: 0;
        }
    
        .label-md {
            color: #000;
            font-size: 1.2rem !important;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2rem !important;
        }

        .valor {
            color: map-get($colors, primary);
            font-size: 1.2rem;
            font-weight: 700;
        }

        //Estilizando o Total
        .total {
            margin-top: 3vh !important;
            .note-md {
                font-size: 1.3rem;
                color: #000;
                font-weight: 800;
                margin-bottom: 50px;
                text-align: right;
            }
        }
    
        h2 {
            font-size: 2rem;
            font-weight: 700;
        }
    
        h3 {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    
        h4 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            color: map-get($colors, primary);
        }
    
        .novo-produto {
            font-size: 1rem;
            font-weight: 700;
            color: #000;
            background: #fafafaba;
            border: 2px solid map-get($colors, primary);
        }
    
        .back-button-md {
            display: none !important;
        }
    
        ion-list {
            margin-top: 35px !important;
        }    

}
