<ion-header>
  <ion-navbar>
    <!-- <ion-title>Detalhe Lista</ion-title> -->
    <h2 text-center>Lista de Compras</h2>
  <h3 text-center>{{notaEscolhida.descricao ? notaEscolhida.descricao : ''}}</h3>
  <h4 text-center>{{notaEscolhida.data | date: 'dd/MM/yyyy'}}</h4>
  </ion-navbar>
</ion-header>

<ion-fab top right>
  <button ion-fab clear (click)=cancelar() class="style-fab-button">
    <ion-icon color="dark" name="md-close"></ion-icon>
  </button>
</ion-fab>


<ion-content padding>

  <ion-list no-lines class="produtos-lista">

    <div *ngFor="let nota of notaEscolhida.produtos; index as i">
      <ion-item text-wrap>
        <ion-checkbox color="dark" [checked]="notaEscolhida.finalizada" [disabled]="notaEscolhida.finalizada"></ion-checkbox>
        <ion-label> {{nota.nome_produto}}</ion-label>
        <ion-note item-end class="valor">{{nota.valor_unitario | currency:'BRL'}}</ion-note>
        <ion-note item-end>
          <button ion-button icon-only (click)="removerProduto(nota)" class="remove-button">
            <ion-icon color="dark" name="md-remove"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
    </div>

    <ion-item text-wrap class="total">
      <ion-note item-start> TOTAL </ion-note>
      <ion-note item-end> {{total | currency:'BRL'}} </ion-note>
    </ion-item>

  </ion-list>

  <!-- <ion-fab bottom left *ngIf="!notaEscolhida.finalizada">
    <button ion-fab clear (click)="addProduto()" class="style-fab-button" [disabled]="disableButton">
      <ion-icon color="dark" name="md-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right>
    <button ion-fab clear (click)="finalizar()" class="style-fab-button" [disabled]="disableButton">
      <ion-icon color="dark" name="md-checkmark"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col col-7 class="form-input">
          <ion-input type="text" placeholder="Produto" [(ngModel)]="produto.nome" required></ion-input>
        </ion-col>
        <ion-col col-3 class="form-input">
          <ion-input type="number" placeholder="Preço" [(ngModel)]="produto.valor" required></ion-input>
        </ion-col>
        <ion-col col-2 class="form-input">
          <button ion-button clear icon-only (click)="addProduto()" [disabled]="disableButton">
            <ion-icon color="dark" name="md-send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>