page-novo-produto {

    .back-button-md {
        display: none !important;
    }

    .item-md {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .item-label-stacked .select-md {
        padding: 10px 15px !important;
    }

}
