// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-family: 'Montserrat' !important;
}

ion-icon {
    font-family: "Ionicons" !important;
}

.center {
    width: 65% !important;
    text-align: center;
    margin: auto;
    display: block;
}

// estilizando o spinner de carregamento
.loading-md .loading-wrapper {
    background: transparent !important;
    box-shadow: 0 0 0 !important;
    transform: scale(1.2);
}

// estilizando os botões do app
.style-button {
    background-image: linear-gradient(to right, map-get($colors, primary) , map-get($colors, secondary));
    // color: #000 !important;
    border-radius: 25px;
    padding: 25px !important;
    font-weight: 700;
    margin-top: 30px;
}

//Estilizando toast de sucesso e erro
.errorToast {
    .toast-wrapper {
        background-color: map-get($colors, secondary);
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.successToast {
    .toast-wrapper {
        background-color: map-get($colors, primary);
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

// estilizando o alert
.alert-md .alert-title {
    font-size: 1.7rem;
    text-align: left;
    font-weight: 600;
}

// aumentando o tamanho do popup
.alert-wrapper {
    min-width: 280px !important;
}

// antes estava wrap-reverse e o cancelar aparecia antes
.alert-md .alert-button-group {
    flex-wrap: wrap;
}

// alinhando o texto do alert no centro
.alert-md .alert-button {
    width: 100%;
    margin: 8px;
    color: #fff;
    background-image: linear-gradient(to right, map-get($colors, primary), map-get($colors, secondary));
    text-transform: inherit;
    font-weight: 600;
    border-radius: 20px;   
}

//classe do botão de cancelar com design diferente
.cancelButton {
    background-image: -webkit-gradient(linear, left top, right top, from(#F2EFEF), to(#F2EFEF)) !important;
    color: map-get($colors, primary) !important;
    border: 1px solid map-get($colors, primary);
    font-weight: 500 !important;
    margin-top: 15px !important;
}

.alert-md .alert-button .button-inner {
    justify-content: center;
}


//formatando e tirando a sombra do toolbar (titulo pagina)
.toolbar-title-md {
    text-align: center;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}

.header-md::after {
    background-image: none;
}

.toolbar-background-md {
    background: #fff;
}