<ion-header>
  <ion-navbar>
    <ion-title>Nova Lista</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab top right>
  <button ion-fab clear (click)=cancelar() class="style-fab-button">
    <ion-icon color="dark" name="md-close"></ion-icon>
  </button>
</ion-fab>

<ion-content padding>

  <ion-list inset>

    <ion-item>
      <ion-label stacked>Descrição (opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="lista.descricao" required class="input-estoque"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list no-lines>

    <div *ngFor="let produto of produtos_adicionados; index as i">
      <ion-item text-wrap>
        <ion-checkbox color="dark"></ion-checkbox>
        <ion-label>{{produto.nome_produto}}</ion-label>
        <ion-note item-end class="valor">{{produto.valor_unitario | currency:'BRL'}} </ion-note>
        <ion-note item-end>
          <button ion-button icon-only (click)="removerProduto(produto, i)" class="remove-button">
            <ion-icon color="dark" name="md-remove"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
    </div>

    <ion-item text-wrap class="total" *ngIf="produtos_adicionados.length > 0">
      <ion-note item-start> TOTAL </ion-note>
      <ion-note item-end> {{total | currency:'BRL'}} </ion-note>
    </ion-item>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab clear (click)="salvar()" class="style-fab-button" [disabled]="disableButton || produtos_adicionados.length < 2">
      <ion-icon color="dark" name="md-checkmark"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col col-7 class="form-input">
          <ion-input type="text" placeholder="Produto" [(ngModel)]="produto.nome" required></ion-input>
        </ion-col>
        <ion-col col-3 class="form-input">
          <ion-input type="number" placeholder="Preço" [(ngModel)]="produto.valor" required></ion-input>
        </ion-col>
        <ion-col col-2 class="form-input">
          <button ion-button clear icon-only (click)="addProduto()">
            <ion-icon color="dark" name="md-send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>