page-nova-lista {

    .back-button-md {
        display: none !important;
    }

    // .item-md {
    //     padding: 10px 5px;
    // }

    .item.item-md .checkbox-md {
        margin: 10px;
        margin-left: 0 !important;
    }

    .numero, .titulo {
        color: #000;
        font-size: 1.2rem !important;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2rem !important;
    }

    .valor {
        color: map-get($colors, primary);
        font-size: 1.2rem;
        font-weight: 700;
    }

    //Estilizando o Total
    .total {
        margin-top: 3vh !important;
        .note-md {
            font-size: 1.3rem;
            color: #000;
            font-weight: 800;
            margin-bottom: 50px;
            text-align: right;
        }
    }

    .remove-button {
        border-radius: 20px;
        font-size: 1.2rem;
    }

}
